{{!
/*********************************************************************************
* This GitHub repository is restricted to access and use by SugarCRM’s OEM partners only.  The installation and use of
* files and any related documentation available in this particular repository (the “OEM GitHub Repository”) are subject
* to the terms in the contract(s) between your company and SugarCRM.  If you have any questions about your usage rights
* or any restrictions for what’s in the OEM GitHub Repository, please contact the person in your company is responsible
* for the SugarCRM relationship.  They can help advise you on the relevant contract terms.
*
* Copyright 2004-2014 SugarCRM Inc.  All rights reserved.
*********************************************************************************/
}}
<footer>
    <div class="table-row">
        {{!
            Include a custom OEM logo in the application footer
        }}
        <img style='vertical-align: middle; height: 45px;' src='custom/themes/default/images/clogo.png' alt='Logo'> 

        <div class="copyright">
            {{str "LBL_POWERED_BY_SUGARCRM"}}
        </div>
        <div class="table-cell">
            <div class="btn-toolbar pull-right">
            </div>
        </div>
    </div>
</footer>
